<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EPICOM</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href='http://fonts.googleapis.com/css?family=Lato:400,300,300italic,700,700italic,900,900italic,400italic,100italic,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/jqueryui.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
</head>
<body class="login">
	<div class="box-global" ng-app="MyApp" ng-controller="MyController">
		<!-- Box Nova Senha -->
		<div class="box-nova-senha bg_white" ng-hide="IsHiddenBoxLogin">
			<h1>EPICOM</h1>			
			<div class="p10-20">		
				<div class="sucess-message" ng-hide="IsHiddenSucessMessage">
					<i class="fa fa-exclamation-circle f-16"></i>Feito sua nova senha foi trocada. <a href="javascript:;" class="close" ng-click="HideBoxAlterPassword()">X</a>
				</div>
				<h3>Digite a sua nova senha!</h3>

				<form id="formChangePassword" name="formChangePassword" method="POST" action="">
					<ul>
						
						<li class="passwrap">
							<span class="error-message" id="lblPasswordValidation"></span>
							<label class="d-block m-b5">Senha</label>
							<input type="password" name="senha" class="input col_100"  id="txtPassword" />
						</li>
						<li class="passwrap">
							<span class="error-message" id="lblConfirmPasswordValidation"></span>
							<label class="d-block m-b5">Digitar novamente</label>
							<input type="password" name="confirma-senha" class="input col_100"  id="txtConfirmPassword" />
						</li>
						<li id="errormessage" class="feedback">Erro no sistema tente mais tarde.</li>
						<li id="invalidmessage" class="senhas-diferentes"></li>
						<li>
							<button class="btn red col_100 t-center t-up" id="btnEntrar">Salvar nova senha</button>
						</li>
					</ul>
				</form>
			</div>
			<div class="voltar-login"><a href="login.html"> Voltar para o login</a></div>
		</div>

		<!-- Box Nova Senha -->
		<div class="box-nova-senha bg_white dNone">
			<h1>EPICOM</h1>			
			<div class="p10-20">		
				<div class="sucess-message" ng-hide="IsHiddenSucessMessage">
					<i class="fa fa-exclamation-circle f-16"></i>Feito sua nova senha foi trocada. <a href="javascript" class="close" >X</a>
				</div>
				<h3>Algo deu Errado! :(</h3>
				<p class="pbottom-20">O tempo para reiniciar sua senha ou o link enviado expirou.Mas sem problemas iremos enviar um novo link.</p>
				<form id="formAcess" name="formAcess" method="POST" action="">
					<ul>
						<li class="emailwrap">
							<span class="error-message" id="lblEmailValidationAcesso"></span>
							<label class="d-block m-b5">E-mail</label>
							<input type="text" name="email-acesso" class="input col_100" id="txtEmailAcesso"/>
						</li>
						<li class="feedback errormessage"></li>
						<li>
							<a href="javascript:;" class="p10-0-40" ng-click="ShowHideBoxLogin()">Voltar para Login</a>
							<button class="btn red w_100 t-center t-up" id="btnEnviar">Enviar</button>
						</li>
					</ul>
				</form>
			</div>
			
		</div>
		
		
	</div>

   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
   	<script type="text/javascript">
   		var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope) {
            //This will hide the DIV by default.
            $scope.IsHiddenSucessMessage = false;
			
			
            $scope.HideBoxAlterPassword = function () {
                //If DIV is hidden it will be visible and vice versa.
                $scope.IsHiddenSucessMessage = true;
				
				
            }

        });

   		$( document ).ready(function() {
	    	
			
			$( "#formChangePassword" ).submit(function( event ) {
				$("#lblPasswordValidation").hide();
	   			$("#lblConfirmPasswordValidation").hide();
	   			$("li.error").removeClass("error");
				var _error= false;
				var senha = $( "input[name=senha]" ).val();
				var confirma_senha = $( "input[name=confirma-senha]" ).val();
				if (  senha == '' ) {
				    $( "#lblPasswordValidation" ).text( "Preencha esse campo" ).show();
				    $(".passwrap").addClass("error");
				    _error = true;
				   
				}
				if( confirma_senha == '' ){
					$( "#lblConfirmPasswordValidation" ).text( "Preencha esse campo" ).show();
   				 	$( ".passwrap").addClass("error" );
   				 	 _error = true;
				}

				if( senha != confirma_senha){
					$( "#invalidmessage" ).html('<i class="fa fa-ban"></i>Senhas não conferem.').show();
   				 	$( ".passwrap").addClass("error" );
   				 	 _error = true;
				}
				if(_error){
					return false;
				}else{

					$('.senhas-diferentes').hide();
					$( ".sucess-message" ).show();
					return false;
				}
				// $( "span" ).text( "Not valid!" ).show().fadeOut( 1000 );
			  	event.preventDefault();
			});

			$( "#formAcess" ).submit(function( event ) {
				
	   			$("#lblEmailValidationAcesso").hide();
	   			$(".errormessage").hide();
	   			$("li.error").removeClass("error");
				var _errorAcesso = false;
				var emailAcesso = $( "input[name=email-acesso]" ).val();
				
				if (  emailAcesso == '' ) {
				    $( "#lblEmailValidationAcesso" ).text( "Preencha esse campo." ).show();
				    $(".emailwrap").addClass("error");
				    _errorAcesso = true;
				   
				}else{
   				
	   				var pattern = new RegExp(/^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i);
	    			if ( ! pattern.test( emailAcesso) ){

	    			 	$( "#lblEmailValidationAcesso" ).text( "Email inválido." ).show();
					    $(".emailwrap").addClass("error");
					    _errorAcesso = true;
	    			}
    			}
				

				if ( emailAcesso == "erro@epicom.com.br" ){
					$(".errormessage").html('<i class="fa fa-ban"></i>Erro no sistema tente mais tarde.').show();
					_errorAcesso = true;
				}

				if ( emailAcesso == "invalido@epicom.com.br" ){
					$(".errormessage").html('<i class="fa fa-ban"></i>E-mail não localizado em nossa base de dados.').show();
					_errorAcesso = true;
				}
				
				if(_errorAcesso){
					return false;
				}else{
					
					
					$('.acesso').html('<p class="p100">Pronto! Acesse seu email e veja o email que enviamos. :)</p>');
					$('.dNone').show();
					return false;
				}
			  	event.preventDefault();
			});

		});


   	</script>

</body>
</html>